@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
	font-family: 'Roboto', sans-serif;
	width: 700px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
header {
	margin-top: 25px;
	position:fixed;
	top:-30px;
	z-index:999;
}
h1 {
	margin: 30px 0px 10px 0px;
	
}
h2 {
	color:#fff;
	background: #BCBEC0;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	padding-left: 5px;
}

h3{
	font-size: 16px;
	font-weight: 300;
	margin-left: 15px;
	
}
h4{	
	color:#fff;
	background: #BCBEC0;
	padding-bottom: 2px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	padding-top: 2px;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
}
footer{
	font-size: 14px;
	line-height: 20px;
	text-align:left;
	margin-left: 15px;
	padding-top: 20px;
	margin-bottom: -30px;
}

.container {
	height: 600px;
	width: 600px;
	margin: 20px auto;
	padding: 25px;
	overflow: hidden;
}

a:link {
	color:#fff;
	background: #BCBEC0;
	padding-bottom: 4px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	
	text-decoration: none;
	}  
	  
a:visited {
	background: #BCBEC0;
	color: #fff;
}
a:hover {
	background: #000000;
	} 

a:active {background: #000000;} 

.header a:link {
	color: #4974B2;
	font-weight: 400;
	margin-top: 30px;
	font-size: 30px;
	text-decoration: none;
	margin-bottom: 70px;
	background: none;
	padding: 0px;
	} 
	  
.header a:visited {
	color: #4974B2;
}
.header a:hover {
	color: #000;
	} 
.header a:active {
	color: #000;
}

.out a:link {
	color:#fff;
	background: #BCBEC0;
	padding-bottom: 4px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	width: 200px;
	text-decoration: none;
	}  
	  
.out a:visited {
	background: #BCBEC0;
	color: #fff;
}
.out a:hover {
	background: #000000;
	} 
.out a:active {background: #000000;;}  


time{
	text-transform: uppercase;
	font-weight: 300;
}

img {
	max-width: 900px;
}